# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/
env/

# -------------------------
# uv (cache apenas)
# -------------------------
.uv/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS
# -------------------------
# Windows
Thumbs.db
Desktop.ini

# -------------------------
# Editors / IDEs
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# Build / cache
# -------------------------
build/
dist/
.eggs/
*.egg-info/

# -------------------------
# Tests / coverage
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Type check / lint
# -------------------------
.mypy_cache/
.ruff_cache/
